button {
  padding: 0.25rem;
  border-radius: 0.5rem;
  /*box-shadow: 0 0 3px #00000080;*/
  border: 1px solid lightgray;
}

.heading {
  font-size: 1.25rem;
}

.heading > span {
  font-weight: bold;
}

.App {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px #0000001A;
}