button {
  background-color: aliceblue;
  color: #303030;
  padding: 0.4rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 2px 2px #0000001A;
}

button:hover {
  background-color: lightblue;
  color: #202020;
  box-shadow: 0 3px 4px #00000030;
}

.heading {
  font-size: 1.25rem;
}

.heading > span {
  font-weight: bold;
}

.App {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px #0000001A;
}